@font-face {
    font-family: 'IndieFlower';
    src: url('../../../public/assets/fonts/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BenguiatGothicStd-Bold';
    src: url('../../../public/assets/fonts/BenguiatGothicStd-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'BenguiatGothicStd-Book';
    src: url('../../../public/assets/fonts/BenguiatGothicStd-Book.otf') format('opentype');
}

.card {
    background-color: transparent;
    padding-top: 80px;
}


.custom-page-background {
    --ion-background-color: linear-gradient(to bottom, rgba(4,12,15,1), rgb(7, 21, 27, 1)); 
}


ion-button {
    --background: transparent; 
    color: white;
    --background-activated: transparent; 
  }


  
.navigation-row {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: -30px;
}

.navigationbuttons {
    margin: 0 10px; 
    background-color: transparent;
    font-size: 20px;
    font-weight: 900;
    color: #7EBDC2;
    font-family: 'BenguiatGothicStd-Bold';
}

.step {
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 25px;
    font-weight: 900;
    color: #7EBDC2;
}

/* Arbeitsschritte.css oder eine entsprechende CSS-Datei */
.button-with-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #07151B;
  }
  
  #open-modal {
    --background: transparent; /* Macht den Button-Hintergrund transparent */
    --border: none; /* Entfernt die Border */
    --box-shadow: none; /* Entfernt Schatten */
    color: white;
    font-family: 'IndieFlower', cursive;
    font-size: 1.5em; /* Stellt die Schriftgröße ein */
    border-radius: 0; /* Entfernt abgerundete Ecken */
    padding: 10px 20px; /* Fügt Innenabstand hinzu */
  }
  
  .arrow-icon {
    width: 20px; /* Breite des Pfeilbildes anpassen */
    height: auto; /* Höhe automatisch anpassen */
    margin-bottom: -30px; /* Abstand zwischen Pfeil und Button */
  }
  
p {
    font-family: 'BenguiatGothicStd-Book';
    font-size: 16px;
    font-weight: 100;
    color: white;
    padding: 20px;
    line-height: 1.2;
}