
@font-face {
    font-family: 'AnythingSkribble';
    src: url('../../../public/assets/fonts/Anything-Skribble.ttf') format('truetype');
}
  
@font-face {
    font-family: 'IndieFlower';
    src: url('../../../public/assets/fonts/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BenguiatGothicStd-Bold';
    src: url('../../../public/assets/fonts/BenguiatGothicStd-Bold.otf') format('opentype');
}
  
h1 {
    font-family: 'AnythingSkribble';
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-family: 'AnythingSkribble';
    font-size: 50px;
    font-weight: 600;
    color: white;
}

h3 {
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 60px; 
    font-weight: 600;
}

.close{
    align-items: right;
    margin: -20px 0px 0px 0px;
}


.content {
    --ion-background-color: transparent;
   
}

.box {
    height: 260px;
    width: 336px;
    position: relative;
    
    
}



.custom-ion-card {
    background-color: #040C0F;
    /*border-image: linear-gradient(to bottom, #F3DFA2, #7EBDC2) 1;*/
    border-width: 1.5px;
    border-style: solid;
    border-radius: 30px; /* Abgerundete Ecken */
    border-color: #F3DFA2;

    margin-top: 350px;
    margin-left: auto;
}

.custom-ion-card p {
    font-family: 'AnythingSkribble';
    font-size: 48.7px;
    font-weight: 400;
    color: white;


    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
   
   
    letter-spacing: -0.09px;
    line-height: 38.6px;
    text-align: left;

}





.zumRezept p{
    color: white;
    font-family: 'IndieFlower';
    font-size: 25px;
    margin-bottom: -2px;
}

.labelMeat {
    background-color: #D50032;
    font-weight: 600;
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    border-radius: 7px;
}

.labelVeggie {
    background-color: #F3DFA2;
    color: white;
    font-weight: 800;
    color: black;
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 7px;
}

.labelVegan {
    background-color: #7EBDC2;
    color: white;
    font-weight: 800;
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    border-radius: 7px;
}

.logo {
    width: 30%;
    height: auto;
    margin: 50px 0px 0 30px;
    position: absolute;
    top: 10px;
}

.labelCategory {
    background-color: #676767;
    color: white;
    font-weight: 800;
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    border-radius: 7px;
}

.labelbox {
    max-height: auto;
    position: relative;
    bottom: 50px;
    right: 10px;
    
}

.labelboxBasics {
    max-height: auto;
    display: flex;
    position: relative;
    
    justify-content: center;
    right: 10px;
    bottom: 50px;
    
}

.info {
    margin-top: 10px;
    position: absolute;
    bottom: 35px;
    text-align: left;
    padding-left: 30px;
   
}

.info h2{
    color: white;
    font-family: 'IndieFlower';
    font-size: 21.7px;
    word-spacing: 30px;

    letter-spacing: -0.04px;
    line-height: 38.6px;

}




/* NAVIGATION */

.circleOne {
    width: 10px;
    height: 10px; 
    border: 1.2px solid;
    border-color: #D50032;
    border-radius: 5.97px/6px;
    margin: 10px;
}

.circleTwo {
    width: 10px;
    height: 10px; 
    border: 1.2px solid;
    border-color: #f3dfa2;
    border-radius: 5.97px/6px;
    margin: 10px;
}

.circleThree {
    width: 10px;
    height: 10px; 
    border: 1.2px solid;
    border-color: #7EBDC2;
    border-radius: 5.97px/6px;
    margin: 10px;
}

.circleOneFilled {
    width: 10px;
    height: 10px; 
    border-radius: 5.97px/6px;
    border-color: #D50032;
    border-width: 2px;
    background-color: #D50032;
}

.circleTwoFilled {
    width: 10px;
    height: 10px; 
    border-radius: 5.97px/6px;
    border-color: #F3DFA2;
    border-width: 2px;
    background-color: #F3DFA2;
}

.circleThreeFilled {
    width: 10px;
    height: 10px; 
    border-radius: 5.97px/6px;
    border-color: #7EBDC2;
    border-width: 2px;
    background-color: #7EBDC2;
}

.Circles {
    display: flex;
    position: relative;
    margin-top: 10;
   
    justify-content: center;
    align-items: center;

    
}

/* Stil für nicht ausgewählte Segment-Buttons */
ion-segment-button .circle {
    border-radius: 50%; 
    margin: 0 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 0;
}

  
/* Stil für den ausgewählten Segment-Button */
ion-segment-button.segment-activated .circle{
    margin: 0 5px;
    fill: #D50032;
}

/* hier is die graue box… weiss nicht wie man verändern ka… habs aus untersuchen */
:host {
    --indicator-color: transparent; /* Setzt die Farbe für die Komponente */
}

.Rezeptübersicht {
    --ion-background-color: transparent; 

}

.swiper {
    margin: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    
}

.swiper_slide {
    margin: none;
    background-color: transparent;
    
}

