
@font-face {
    font-family: 'AnythingSkribble';
    src: url('../../../public/assets/fonts/Anything-Skribble.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'IndieFlower';
    src: url('../../../public/assets/fonts/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BenguiatGothicStd-Bold';
    src: url('../../../public/assets/fonts/BenguiatGothicStd-Bold.otf') format('opentype');
}
  
h1 {
    font-family: 'AnythingSkribble';
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-family: 'AnythingSkribble';
    font-size: 50px;
    font-weight: 600;
    color: white;
}

h3 {
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 60px; 
    font-weight: 600;
}

.close{
    align-items: right;
    margin: -20px 0px 0px 0px;
}


.box {
    margin-bottom: 30px;
    background-color: #040C0F;
}

.custom-ion-card {
    background-color: #040C0F;
    /*border-image: linear-gradient(to bottom, #F3DFA2, #7EBDC2) 1;*/
    border-width: 1.5px;
    border-style: solid;
    border-radius: 30px; /* Abgerundete Ecken */
    border-color: #F3DFA2;
    width: 85%;
    max-height: auto;
    position: relative;
    transform: translateY(20%);
    align-self: center;
}

.custom-ion-card p {
    font-family: 'AnythingSkribble';
    font-size: 60px;
    font-weight: 200;
    color: white;
    line-height: 0.8;
    padding: 20px;
    height: auto;
}

.zumRezept p{
    color: white;
    font-family: 'IndieFlower';
    font-size: 25px;
    margin-bottom: -2px;
}

.labelMeat {
    background-color: #D50032;
    font-weight: 600;
    /*position: relative; auf absolut umändern*/
    /*transform: translateY(-20%);*/
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.labelVeggie {
    background-color: #F3DFA2;
    color: white;
    font-weight: 800;
    color: black;
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 14px;
    text-transform: uppercase;
}

.labelVegan {
    background-color: #7EBDC2;
    color: white;
    font-weight: 800;
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.logo {
    width: 30%;
    height: auto;
    margin: 50px 0px 0 30px;
}

.labelCategory {
    background-color: #F3DFA2;
    color: black;
    font-weight: 800;
    font-family: 'BenguiatGothicStd-Bold';
    font-size: 16px;
    text-transform: uppercase;
}
.info {
    padding: 0px 20px 20px 20px;
}


/* NAVIGATION */

.circle {
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    border-color: green;
    border-width: 2px;
    background-color: #D50032;
}

ion-segment {
    background: transparent;
    height: 40px; 
    width: auto;
    align-self: center;
}

/* Stil für nicht ausgewählte Segment-Buttons */
ion-segment-button .circle {
    border-radius: 50%; 
    margin: 0 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 0;
}
  
/* Stil für den ausgewählten Segment-Button */
ion-segment-button.segment-activated .circle{
    margin: 0 5px;
    fill: #D50032;
}

/* hier is die graue box… weiss nicht wie man verändern ka… habs aus untersuchen */
:host {
    --indicator-color: green; /* Setzt die Farbe für die Komponente */
  }