.close {
    position: relative;
    float: right;
}

.custom-ion-card-rezeptvorschau {
    background-color: pink;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 30px;
    border-color: #F3DFA2;
    width: 85%;
    max-height: auto;
    position: relative;
    transform: translateY(20%);
    align-self: center;
}