@font-face {
  font-family: 'IndieFlower';
  src: url('../../../public/assets/fonts/IndieFlower-Regular.ttf') format('truetype');
}

.start {
  background-color: #040c0f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.start .overlap-group-wrapper {
  background-color: #040c0f;
  height: 100vh;
  width: 100%;
}

/*  */
.start .overlap-group {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background: url("../../../public/assets/Elemente/Backgroundimage.jpg") center / cover no-repeat;
  position: relative;
}

.start .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Hier kannst du den Alpha-Wert anpassen */
  pointer-events: none; /* Lässt Klicks durch das Overlay hindurch */
}


.jetzt-starten {
  height: 23px;
  left: 105px;
  position: absolute;
  top: 740px;
  width: 198px;
  
}

.chefs-touch {
  position: absolute; 
  right: 0px; 
  width: 300px;
  top: 195px;
}

.logo-home {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 230px;
  transform: translateX(-50%);
}
